<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.MainMapper">

    <select id = "getsearch" parameterType = "map" resultType = "MainDTO">
        SELECT
            NAME AS name,
            X AS x,
            Y AS y
        FROM
            coordinate
        WHERE
            NAME LIKE CONCAT ('%',#{SearchQuery},'%')

    </select>

    <select id = "usercheck" parameterType ="MainDTO" resultType="String">
        SELECT
            COUNT(*)
            FROM
                user_info
            WHERE
                USER_EMAIL = #{email}
    </select>

    <insert id = "userdup" parameterType = "MainDTO">
        INSERT INTO
            user_info(
                USER_NAME, USER_EMAIL
            )
            VALUES(
                #{name}, #{email}
            )

    </insert>

    <select id = "seqcheck" parameterType = "String" resultType="MainDTO">
        SELECT
            USER_SEQ AS seq
        FROM
            user_info
        WHERE
            USER_EMAIL = #{email}
    </select>

    <insert id = "insertFileInfo" parameterType = "MainDTO">
        INSERT INTO
            c_info(
                CATEGORY, FILE_NAME, USER_SEQ
            )
            VALUES(
                #{category}, #{file_name}, #{seq}
            )

    </insert>

    <select id = "getMyPage" resultType="MainDTO" parameterType="String">
        SELECT
            FILE_NAME AS file_name,
            USER_SEQ AS seq
        FROM
            c_info
        WHERE
            USER_SEQ = #{user_seq}
    </select>
    <delete id="delimg" parameterType="String">
        DELETE
        FROM c_info
        WHERE FILE_NAME = #{file_name}
    </delete>
    <select id = "getimg" resultType="MainDTO" parameterType = "MainDTO">
        SELECT
            FILE_NAME AS file_name
        FROM
            c_info
        WHERE
            CATEGORY = #{category}
            AND USER_SEQ = #{seq}
    </select>
</mapper>