body {
    height: auto;
    font-family: "Jua", sans-serif;
    color: white;
    font-size: 2em;
    text-align: center;
    background: linear-gradient(to right, #64b3f4, #c2e59c);
}

.container {
    height: 70%;
}

#image {
    width: 20%;
}

.clothes {
    margin: 5px;
    width: 250px;
    height: 250px;
}

#city {
    font-size: 1em;
}

#minTemp {
    font-size: 2em;
}

#maxTemp {
    font-size: 2em;
}

#rainPop {
    font-size: 2em;
}

form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    transition: all 1s;
}

form:hover {
    width: 200px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: linear-gradient(to right, #ffc371, #ff5f6d);
}

.page {
    display: flex;
    justify-content: center;
}


/* add default color for animation start  */


/* toggle this class */

.color-bg-start {
    background-color: salmon;
}


/* toggle class bg-animate-color */

.bg-animate-color {
    animation: random-bg .5s linear infinite;
}


/* add animation to bg color  */

@keyframes random-bg {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.fun-btn {
    /* change bg color to get different hues    */
    background-color: salmon;
    color: white;
    padding: 2em 3em;
    border: none;
    transition: all .3s ease;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
    align-self: center;
    cursor: pointer;
    font-weight: bold;
}

.fun-btn:hover {
    animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
}

.start-fun {
    background-color: #fff !important;
    /* change color of button text when fun is started   */
    color: salmon !important;
}

/* pulsating effect on button */
@keyframes grow {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}
.login_bar {
    width: 100%;
    height: 65px;
    text-align: right;
}
.logout {
    color: white;
    font-size: 0.85em;
}
.memberId {
    color: white;
    font-size: 0.85em;
}
a {
    text-decoration:none !important
}
a:hover {
    text-decoration: none !important;
}
a:visited{
    text-decoration: none !important;
}
.login_list {

}
.Wicon {
    width: 250px;
    height: 250px;
}

#rainimage {
    width: 250px;
    height: 250px;
}

.recomContainer {
    height : 70%;

}
